# SQL Practice

```sql
CREATE TABLE people (
	first_name VARCHAR(30) NOT NULL, 
	has_pet BOOLEAN DEFAULT false,
	pet_type VARCHAR(10) NOT NULL,
	pet_name VARCHAR(30),
	pet_age INT
);

SELECT * FROM people;

INSERT INTO people(first_name, has_pet, pet_type, pet_name, pet_age)
VALUES ('Drew', true, 'dog', 'Kodie', 16),
('Brandon', true, 'dog', 'Chowder', 7);

SELECT first_name, pet_name FROM people;

SELECT first_name, pet_type, pet_name 
FROM people
WHERE pet_type = 'dog'
AND pet_age < 10;
```