# Deliverable 1: Number of Retiring Employees by Title

#### 1) Create a table containing the number of employees who are about to retire (those born 1952-1955), grouped by job title
##### Create three new tables:
    1) showing number of [titles] retiring
    2) showing number of employees with each title 
    3) showing a list of current employees born between Jan. 1, 1952 and Dec. 31, 1955.

In [ ]:
# Schema goes here

#### 2) Query the new table using the SELECT statement | Your table will contain the following information:

Employee number, First and last name, Title, from_date, Salary

In [ ]:
# Scheme goes here

#### 3) Create a new table that includes only the most recent title of each employee. (Exclude the duplicates)
Need to use partitioning and below code to create the table
```sql 
-- Partition the data to show only most recent title per employee
SELECT ______,
 __________,
 _________,
 _______,
 _____
INTO nameyourtable
FROM
 (SELECT ______,
 __________,
 _________,
 _______,
 _____, ROW_NUMBER() OVER
 (PARTITION BY (emp_no)
 ORDER BY to_date DESC) rn
 FROM __________
 ) tmp WHERE rn = 1
ORDER BY emp_no;
```

In [ ]:
# Schema goes here

#### 4) Export the table as csv 
Retirement-ready employees grouped by title

# Deliverable 2: Mentorship Eligibility

#### 1) Create a table that includes the following:
Employee number, First name, Last name, Title, from_date, and to_date
#### Employees will need to have a date of birth that falls between January 1, 1965 and December 31, 1965. 
Hint: Use two inner joins to create this new table

In [ ]:
# Schema goes here

#### 2) Export the table as csv
Employees who are eligible to act as a mentor within the company